mule-dataframework/src/main/app/mule-solr.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    
    <flow name="solrFlow" doc:name="solrFlow" doc:description="Solr Flow - 
		It recieves T24 Message from VM queue 
		Transfroms to the solr input document 
		Send the input document to the Solr for indexing">
        <vm:inbound-endpoint exchange-pattern="one-way" ref="SolrVM" doc:name="SolrVM"/>
         <choice doc:name="Choice">
            <when expression="/Account" evaluator="xpath">
                <mulexml:xslt-transformer maxIdleTransformers="2" maxActiveTransformers="5" xsl-file="xsl/accounttosolradd.xsl" doc:name="Account XSLT"/>
				<set-variable value="accountcore" variableName="solrCoreName" doc:name="Variable" />
            </when>
            <when expression="/Customer" evaluator="xpath">
       			<mulexml:xslt-transformer maxIdleTransformers="2" maxActiveTransformers="5" xsl-file="xsl/customertosolradd.xsl" outputEncoding="UTF-8" doc:name="Customer XSLT"/>
				<set-variable value="customercore" variableName="solrCoreName" doc:name="Variable" />
            </when>
        </choice>
        <logger message="Solr input document #[payload]" level="INFO" doc:name="Logger"/>
        <http:outbound-endpoint ref="solrEPR" doc:name="HTTP" exchange-pattern="request-response" method="POST"/>
        <logger message="Solr response #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    

</mule>
