mule-dataframework/src/main/app/mule-db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jdbc http://www.mulesoft.org/schema/mule/jdbc/current/mule-jdbc.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

    <flow name="dbFlow" doc:name="dbFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" ref="DBVM" doc:name="DBVM" />
        <logger message="T24XML recieved in db flow #[payload]" level="INFO" doc:name="Logger"/>
      	<object-to-string-transformer doc:name="Object to String"/>
        <custom-transformer class="com.temenos.dataframework.transformer.T24XmlToDBXml" doc:name="Java" />
        <custom-transformer class="com.temenos.dataframework.transformer.CustomXSLTTransformer" doc:name="Java" />
        <collection-splitter doc:name="Collection Splitter"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="query" value="#[message.payload]" doc:name="Variable" />
        <outbound-endpoint address="jdbc://#[flowVars['query']]" exchange-pattern="request-response" doc:name="Generic" connector-ref="jdbcConnector"/>
	</flow>


</mule>
